{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block post %}

    <h2>Archive</h2>
    {% for year, year_list in entries|groupby('year')|reverse %}
            {% for month, month_list in year_list|groupby('month')|reverse %}
                    {% for day, day_list in month_list|groupby('day')|reverse %}
                        {% for entry in day_list %}
                             <p><small>{{ entry.pretty_date }}</small> &ndash; <a href="/{{ entry.url }}">{{ entry.title }}</a></p>
                        {% endfor %}
                    {% endfor %}
            {% endfor %}
    {% endfor %}
{% endblock %}