<!DOCTYPE html>
<html lang="en">
<head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8">
     <meta http-equiv="Content-Language" content="en-us">
     <title>Windmill</title>
     <meta http-equiv="imagetoolbar" content="false">
     <meta name="description" content="The personal site of Chaitanya Kunte.">
     <meta name="viewport" content="width=800">
     <meta name="DC.title" content="Windmill">
     <meta name="DC.subject" content="personal, family, kids, holidays, musings">
     <meta name="DC.creator" content="Chaitanya Kunte">
     <link rel="stylesheet" type="text/css" href="/css/style.css">
     <link rel="alternate" type="application/rss+xml" title="Windmill RSS" href="/feed.xml">

</head>
<body>
    <div id="wrap">
        <div id="content">
            <h1><a href="/" title="Windmill Home"><img src="/images/avatar.png"></a></h1>
            <p class="desc">Windmill is a family log.</p>
            <p class="spacer">&nbsp;</p>
            <div id="left">
                <div id="nav">
                <ul>
                    <li><a href="/archive.html" title="Archive">Archive</a></li>
                    <li><a href="https://github.com/ckunte" title="Code">Code</a></li>
                    <li><a href="/feed.xml" title="RSS">RSS</a></li>
                </ul>
                </div><!-- /nav -->
            </div><!-- /left -->

            {% block body %}
                {% block post %}{% endblock %}
                {% block footer %}{% endblock %}
            {% endblock %}
        </div>
        <div id="footer">
            <span class="navcenter">powered by <a href="https://github.com/ckunte/chisel">Chisel</a></span>
        </div>
    </div>
</body>
</html>