<!DOCTYPE html>
<html lang="en">
<head>
  {% from 'site_settings.jinja2' import site_title, site_author, site_author_github -%}
  <meta charset="utf-8">
  <title>{{ site_title }}{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="{{ site_author }}">
  <style type="text/css">
    {% include '58b.css.jinja2' %}
  </style>
</head>
<body>
  <main>
{% block header %}{% endblock %}
{%- block main %}{% endblock -%}
{% block footer %}{% endblock %}
  </main>
</body>
</html>