{% extends "base.html" %}
{% block title %}: Colophon{% endblock %}

{% block header %}
{% endblock %}

{% block post %}
	<div class="regular">
		<h2>Colophon</h2>
		<p>This log is a journal of personal opinion<sup id="fnref:1"><a href="#fn:1" rel="footnote">1</a></sup>, an occasional <a href="https://github.com/ckunte" title="The author's public code repository on the web.">code</a> <a href="https://gist.github.com/ckunte">scrap</a>, and a coffee-table picture book. Generated<sup id="fnref:2"><a href="#fn:2" rel="footnote">2</a></sup> by <a title="Author's fork of David Zhou's original Chisel." href="https://github.com/ckunte/chisel">chisel</a>, version controlled by <a href="http://git-scm.com/">git</a>, and served by <a href="https://github.com/">github</a>, it is a personal site produced for a unit audience (family and a handful of friends) that knows the author and this site’s URL well.<sup id="fnref:3"><a href="#fn:3" rel="footnote">3</a></sup></p>

		<h3>Author</h3>

		<p>Dad to two lovely kids, <a title="Python is the author's favorite tool for automation." href="http://www.python.org">python</a> loving bike nut, Chyetanya Kunte is a 40 years old engineer much into offshore structures and turret-mooring systems. Outside of <a href="http://www.linkedin.com/in/ckunte">work</a>, this is his creative outlet.</p> 
		
		<p>You may reach him at <span style="unicode-bidi:bidi-override;direction:rtl;">ten.etnukc@gol</span>.</p>

		<div class="footnote">
			<hr>
			<ol>
				<li id="fn:1"><code>fsck -vf /dev/hdc1 &gt; log</code> is shorthand for file system integrity check (<code>fsck</code>) that the author runs on his frame of mind, in verbose sometimes (<code>-v</code>), often forcing himself to reevaluate (<code>-f</code>) &mdash; questioning his beliefs even if the first pass says he’s okay, on thoughts generally outside his primary line of work (<code>/dev/hdc1</code>), the results of many of which he pushes out (<code>&gt;</code>) to this <code>log</code>. <a href="#fnref:1" rev="footnote">&#8617;</a></li>
				
				<li id="fn:2">Tom Preston-Werner's post, <a href="http://tom.preston-werner.com/2008/11/17/blogging-like-a-hacker.html">Blogging Like a Hacker</a> and David Zhou's work, <a href="https://github.com/dz/chisel">Chisel</a> were an inspiration in rolling this hack, and generally feel invincible. <a href="#fnref:2" rev="footnote">&#8617;</a></li>

				<li id="fn:3">The author is not on any of the social media sites (like Facebook or Twitter). If you do find a name match, then please know that it is someone else. <a href="#fnref:3" rev="footnote">&#8617;</a></li>
			</ol>
		</div>
	</div>
{% endblock %}