{% extends "base.html" %}

{%- block header %}
{% include 'header.html' %}
{% endblock -%}

{%- block main %}
  {% set curr = entry.url %}
  {% set total = entries | count %}
  <article>
    <time datetime="{{ entry.year }}-{{ entry.month }}-{{ entry.day }}">{{ entry.pretty_date }}</time>
    <h1><a href="/{{ entry.url }}">{{ entry.title | e }}</a></h1>
    {{ entry.content }}
  </article>
  {% include 'nav.html' %}
{%- endblock %}

{%- block footer %}
{% include 'footer.html' %}
{% endblock -%}