{% extends "base.html" %}
{% block post %}
    {% for entry in entries %}
	<div class="post">
 	 <div class="labels">
    <div class="date">&nbsp;</div>
 	 </div>
   	 <div class="regular">
      <h2>{{ entry.title }}</h2>
	    {{ entry.content }}
     </div>
     <!-- <div class="post-footer">&nbsp;</div> -->
     <div class="post-footer"><a href="/log/{{ entry.url }}">{{ entry.pretty_date }}</a></div>
    </div>
    {% endfor %}
<div class="navleft">
	&lsaquo;&nbsp;<a rel="prev prefetch" href="/log/archive">Archive</a>
</div>
{% endblock %}